<%- include template/top/head %>

  <link rel='stylesheet' href='/stylesheets/index.css' />

<%- include template/top/headend %>

  <h1><%= title %></h1>

  <div class="account">

    <div class="account-set blue">
      <a href="/login">
        登录
      </a>
    </div>

    <div class="account-set green">
      <a href="/register">
        注册
      </a>
    </div>

  </div>


<%- include template/top/floor %>
